<footer class="bg-black text-white">
  
  <div id="outer" class="flex">
    <div id="inner" class="mb-2">
      {% for section in site.data.footer %}
      <section id="footer_{{section.name}}" class="mb-2">
       
        {% if section.url %}
          {% include footer-section-title.html url=section.url text=section.name classes="footer-section-title" %}
        {% else %}
          <h5 class="text-white footer-section-title">{{section.name}}</h5> 
        {% endif %}

        {% if section.links %}
          <ul>
          {% for link in section.links %}
          <li>{% include link.html url=link.url text=link.title classes="text-white" %}</li>
          {% endfor %}
          </ul>
        {% endif %}
    </section>

    {% endfor %}
    </div>

  <!-- Mailchimp Newsletter Form -->
    <div id="footer_subscribe" class="mb-2">
      {% include newsletter_subscribe.html %}
    </div>
  </div>

  <!-- Social Icons -->
  <div id="social_icons" class="flex">
    <ul>
      {% assign social_links = site.data.footer | where: "name", "socials" %}
      {% for link in social_links[0].links %}
        <a href="{{link.url}}" class="no-decoration social-icons">
          {% include {{ link.site | prepend: 'socials/' | append: '.svg' }} %}
        </a>
      {% endfor %}

    </ul>

  </div>

</footer>